<li class="recent-item">
    <div class="row">
      <div class="col-sm-12">
        <span class="sr-only"><%= t('hyrax.homepage.recently_uploaded.document.title_label') %></span>
        <h3>
          <%= link_to [main_app, recent_document] do %>
            <%= document_presenter(recent_document)&.thumbnail&.thumbnail_tag(
              { width: 90, alt: "#{recent_document} #{ t('hyrax.homepage.admin_sets.thumbnail')}" },
              { suppress_link: true }
            ) %><%= recent_document %>
          <% end %>
        </h3>
        <% unless recent_document.creator&.empty? %>
          <p class="recent-field">
            <span class="recent-label">Creator:</span> <%= link_to_facet_list(recent_document.creator, 'creator', '').html_safe %>
          </p>
        <% end %>
        <% unless recent_document.date_created&.empty? %>
          <p class="recent-field">
            <span class="recent-label">Date Created:</span>
            <%  labels = recent_document.human_readable_type  == "Etd" ? recent_document.date_created_year : recent_document.date_created %>
            <%= link_to_facet_term(recent_document.date_created_year.first, labels.first, 'date_created_year_ssim') %>
          </p>
        <% end %>
      </div>
    </div>
</li>

