<h1>About the Carleton University Institutional Repository</h1>
<p>
  The <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> collects, preserves, and provides access to materials related to research, teaching, and learning at <a href="https://carleton.ca/">Carleton University</a>.
</p>
<p>
  The repository provides open access to scholarly research and creative works voluntarily deposited by Carleton faculty, staff, and students, and all dissertations and theses produced at  <a href="https://carleton.ca/">Carleton University</a>.
</p>
<p>
  In addition to scholarly work, the repository features holdings from <a href="https://asc.library.carleton.ca/">Archives and Special Collections</a> and digital materials acquired by <a href="https://library.carleton.ca/">Carleton University Library</a> to support research and teaching needs.
</p>
<p>
  The <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> is hosted and maintained by <a href="https://library.carleton.ca/">Carleton University Library</a>.
</p>
<h2>Share your work</h2>
<p>
  Adding an open-access copy of your work to <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> increases the visibility and impact of your research and complies with funding agency requirements for open access.
</p>
<p>
  Repository collections of scholarly and creative works include:
</p>
<ul>
  <li>journal articles</li>
  <li>books and book chapters</li>
  <li>theses and dissertations</li>
  <li>conference papers</li>
  <li>reports, technical documents, and other grey literature</li>
</ul>
<p>
  To have your work included in <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>, you must read and agree to the <a href="<%= Hyrax::Engine.routes.url_helpers.terms_path %>">Terms of Use</a> and the <a href="<%= Hyrax::Engine.routes.url_helpers.agreement_path %>">Deposit Agreement</a>.
</p>
<p>
  Please <a href="<%= Hyrax::Engine.routes.url_helpers.contact_path %>">contact us</a> at <a href="mailto:open-access@library.carleton.ca">open-access@library.carleton.ca</a> to discuss adding your work. We can help review copyright permissions to make sure that you have the right to republish your work in an institutional repository. We will also add materials to the repository on your behalf.
</p>
<p>
  Learn more about <a href="https://library.carleton.ca/services/open-access">Library support for open access publishing</a>.
</p>
<h2>Use our collections</h2>
<p>
  We aim to provide the widest possible access to materials in repository collections so researchers anywhere can find and use scholarly and creative works produced at <a href="https://carleton.ca/">Carleton University</a>.
</p>
<p>
  Works have been made openly available with consent of the copyright owner(s) and with all rights reserved. Unless otherwise specified, publicly accessible works may be used for non-commercial research, educational, or related academic purposes only. For details, please refer to the <a href="<%= Hyrax::Engine.routes.url_helpers.terms_path %>">Terms of Use</a>. 
</p>

