<h1>Deposit Agreement</h1>
<p>
  To have your work included in <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>Repository, you must agree to the terms of the following <strong>Deposit Agreement</strong>.
</p>
<p>
  To properly administer this repository and preserve the contents of the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>Repository for future use, <a href="https://carleton.ca/">Carleton University</a> requires certain permissions from you, the author(s), or copyright owner. 
</p>
<p>
  By accepting this license, you do not give up the copyright to your work. You do not give up the right to submit the work to publishers or other repositories. You grant to <a href="https://carleton.ca/">Carleton University</a> the non-exclusive right to store your work. You agree that <a href="https://carleton.ca/">Carleton University</a> may translate or adapt the submission to any medium or format, may make alterations for the purpose of accessibility, and may keep more than one copy for the purposes of security, backup, and long-term preservation of the scholarly record. <a href="https://carleton.ca/">Carleton University</a> will not make any alteration, other than as allowed by this license, to your submission. You agree that <a href="https://carleton.ca/">Carleton University</a> is not obligated to store or publish your work and may remove your work from the <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>Repository at any time without giving you notice.
</p>
<p>
  Open access submissions to <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a> can be viewed by anyone. 
</p>
<p>
  You may choose to apply one of several <a href="https://creativecommons.org/">Creative Commons</a> licenses to your submission, which allow you to set your own terms of use for anyone accessing the submission. If you choose to apply a <a href="https://creativecommons.org/">Creative Commons</a> license, you authorize <a href="https://carleton.ca/">Carleton University</a> to distribute your content under the terms of that <a href="https://creativecommons.org/">Creative Commons</a> license and to allow <a href="<%= Hyrax::Engine.routes.url_helpers.root_path %>">Carleton University Institutional Repository</a>Repository users to do the same if your license choice permits that. You acknowledge that <a href="https://carleton.ca/">Carleton University</a> cannot enforce the terms of your <a href="https://creativecommons.org/">Creative Commons</a> licence on your behalf.
</p>
<p>
  You grant to <a href="https://carleton.ca/">Carleton University</a> the non-exclusive, irrevocable, perpetual, royalty-free right to distribute your submission (including the metadata and abstract) worldwide, in any format or medium for non-commercial, research, educational, or related academic purposes only. <a href="https://carleton.ca/">Carleton University</a> will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.
</p>
<p>
  You represent and warrant that the submission is your original work, and/or that you have the right to grant the rights contained in this license. You also represent that your submission does not, to the best of your knowledge, infringe upon anyone's rights, including copyright.
</p>
<p>
  If the submission contains material for which you do not hold copyright and use of the material is not permitted by the <em><a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/Index.html">Copyright Act</a></em> without permission from the copyright owner, you represent that you have obtained the unrestricted permission of the copyright owner to grant <a href="https://carleton.ca/">Carleton University</a> the rights required by this license, and that such third-party owned material is clearly identified and acknowledged within the text or content of the submission.
</p>
<p>
  If the submission is based upon work that has been sponsored or supported by an agency or organization other than <a href="https://carleton.ca/">Carleton University</a>, you represent that you have fulfilled any right of review or other obligations required by the agreement with such sponsor.
</p>